# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
venv/
.envrc

# Docker
*.log
docker-compose.override.yml

# OS / Editor Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# AWS credentials (never commit these!)
*.pem
credentials
config

