# Local .terraform directories
.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.*

# Crash logs
crash.log

# Backup files
*.backup
*.save

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI config
.terraformrc
terraform.rc
