#cloud-config
package_update: true
packages:
  - strongswan
  - strongswan-plugin-eap
  - iproute2
runcmd:
  - [ sh, -c, 'cat > /etc/ipsec.conf <<EOF\n' ]
  - [ sh, -c, 'cat /home/ubuntu/ipsec.conf.tmpl > /etc/ipsec.conf' ]
  - [ sh, -c, 'cat /home/ubuntu/ipsec.secrets.tmpl > /etc/ipsec.secrets' ]
  - [ sh, -c, 'chmod 600 /etc/ipsec.secrets' ]
  - [ sh, -c, 'systemctl restart strongswan' ]
  - [ sh, -c, 'sysctl -w net.ipv4.ip_forward=1' ]
  - [ sh, -c, 'iptables -A FORWARD -i eth0 -o eth0 -s {{ONPREM_CIDR}} -d {{AWS_VPC_CIDR}} -j ACCEPT' ]
