config setup
  charondebug="ike 1, knl 1, cfg 0"

conn %default
  keyexchange=ikev2
  ike=aes256-sha1-modp1024!
  esp=aes256-sha1!
  dpdaction=restart
  dpddelay=30s
  rekey=no
  keyingtries=%forever
  fragmentation=yes
  left=%defaultroute
  leftid={{ONPREM_PUBLIC_IP}}
  leftsubnet={{ONPREM_CIDR}}
  right={{AWS_TUNNEL_OUTSIDE_IP}}
  rightsubnet={{AWS_VPC_CIDR}}
  auto=start
