# Terraform
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
.terraform/
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
venv/
.envrc
*.egg-info/

# Docker
*.log
*.pid
*.seed
*.swp
.dockerignore

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
